doctype html
html(lang='ru')
	head
		meta(charset='utf-8')
		link(rel="stylesheet" href="/style.css")
	body
		main#app
			header
				h1 todo
			ul#todo-list
			form#todo-form
				input(type="text")#add-input
				button(type="submit")#add-button Добавить
		script(src="/index.js")
